.calendar{
    background-color: #F8F8F8;
    font-family: Arial,sans-serif;
    margin: auto;
    padding: 5% 2%;
    width: 730px;
}

.calendar__header{
    font-size: 1.4em;
    font-weight: bold;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    width: 30%;
}

.calendar__nextMonth {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.calendar__prevMonth {
    cursor: pointer;
    left: 0;
    position: absolute;
}

.calendar__cell{
    display: inline-block;
    font-size: 28px;
    padding: 15px;
    text-align: center;
}

.calendar__cell--filler{
    border-radius: 35px;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    width: 32px;
}

.calendar__cell--day{
    background-color: #FFF;
    border-radius: 35px;
    box-shadow: 0 2px 1px 1px rgb(217,217,217);
    color: #757575;
    cursor: pointer;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    width: 32px;
}